<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/js/ajax.js"></script>
    <title>Magic 8 App - W4D2 Question2</title>
</head>

<body>

    <div class="container">
        <form class="m-5" id="form">
            <div class="form-group">
                <label>Type a question : </label>
                <input type="text" name="question" id="question" class="form-control">
            </div>
            <div class="form-group">
                <input class="btn btn-success" type="submit" name="submit" value="Ask 8 Ball">
                <span id="error"></span>
            </div>
        </form>
    </div>

</body>

</html>